.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  font-family: 'Evander', sans-serif;
  color:#383838
}

.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
  min-width: 250px;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.member-container {
  width: 25%;
  height: 70vh;
  box-shadow: 13px 13px 15px #cbced1, -13px -13px 30px #fff;
  background-image: url(./media/chat-dots.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 50% 90%;
}

.msg-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 70vh;
  padding: 30px;
  box-shadow: 13px 13px 30px #cbced1;
}

.msg-container input {
  background-color: #f5f5f5;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid gray;
  flex-grow: 1;
}

.messages-list {
  padding: 20px 0;
  width: 100%;
  margin: 3px auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.messages-message {
  display: flex;
  margin-top: 10px;
}

.messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.message-content {
  display: inline-block;
}

.currentMember > .message-content {
  align-items: flex-end;
}

.messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.message-content > .username {
  display: block;
  color: rgb(73, 73, 73);
  font-size: 14px;
  padding-bottom: 4px;
}

.message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.currentMember > .message-content .text {
  background-color: gray;
}

form {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 20px;
}

button {
  background: white;
  width: 70px;
  border: 0;
  border-radius: 20px;
  color: gray;
  padding: 4px 14px;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  max-height: 90%;
}

button:hover {
  background-color: rgb(179, 179, 179);
  color: white;
}

::placeholder {
  font-style: italic;
  font-size: 1em;
  color: gray;
}

.member-list {
  position: relative;
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  text-align: left;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(179, 179, 179); 
}